<!-- <div class="flexChild" id="camera-container">
  <div class="camera-box">
    <video id="local_video" autoplay></video>
    <div id="received_videos"></div>
  </div>
</div> -->
<div id="main-container" class="container">

  <div *ngIf="session" id="session">
    <div id="session-header">
      <h2 id="session-title">Session id: {{mySessionId}}</h2>
    </div>
    <div *ngIf="mainStreamManager" id="main-video" class="col-md-6">
      <app-user-video [streamManager]="mainStreamManager"></app-user-video>
    </div>
    <div id="video-container" class="col-md-6">
      <div *ngIf="publisher" class="stream-container col-md-6 col-xs-6">
        <app-user-video [streamManager]="publisher" (clicked)="updateMainStreamManager(publisher)"></app-user-video>
      </div>
      <div *ngFor="let sub of subscribers" class="stream-container col-md-6 col-xs-6">
        <app-user-video [streamManager]="sub" (clicked)="updateMainStreamManager(sub)"></app-user-video>
      </div>
    </div>
  </div>
</div>