<div class='row p-0 m-0'>    
    <button [routerLink]="['/dashboard', selected_session, 'video']" class='col'>video</button>
    <button [routerLink]="['/dashboard', selected_session, 'text']" class='col'>text</button>
    <button [routerLink]="['/dashboard', selected_session, 'draw']" class='col'>draw</button>
    <button [routerLink]="['/dashboard', selected_session, 'watch']" class='col'>watch</button>
    <button id='leave' (click)="leaveSite()" class='col col-sm-1 border border-light'>Leave</button>
</div>
<div class='m-0 p-3'>
    <div class='row'>
        <div class='col'>
            <router-outlet></router-outlet>
        </div>
        <div class='col'>
            <div id='chat_box' class='p-3'>Translation area</div>
            <button class='col bg-light text-dark border-thicc py-3'>download</button>
        </div>
    </div>  
    
</div>
