<div class='row p-0 m-0'>  
    <h4 id='leave' class='col col-sm-4 m-0 p-2'><i class="fas fa-globe-americas"></i> Session ID: {{ selected_session }}</h4>
    <button [routerLink]="['/dashboard', selected_session, 'text']" class='col'>text</button>
    <button [routerLink]="['/dashboard', selected_session, 'video']" class='col'>video</button>
    <button [routerLink]="['/dashboard', selected_session, 'draw']" class='col'>draw</button>
    <button [routerLink]="['/dashboard', selected_session, 'watch']" class='col'>watch</button>
    <button id='leave' (click)="leaveSite()" class='col col-sm-1 border border-light'>Leave</button>
</div>
<div class='m-0 p-3'>
    <div class='row'>
        <div class='col col-sm-8'>
            <router-outlet></router-outlet>
        </div>
        <div class='col col-sm-4'>
            {{lang_setting | json}}
            <label for="lang_spoken" class='col-sm-5 text-right'>Translate from:  </label>
            <select name="lang_spoken" [(ngModel)]="lang_setting.lang_spoken" class='col-sm-5'>
                <option *ngFor="let lang of lang_list" value="{{lang[1]}}">{{lang[0]}}</option>
            </select><br>
            <label for="lang_to" class='col-sm-5 text-right'>Translate to: </label>
            <select name="lang_to" [(ngModel)]="lang_setting.lang_to" class='col-sm-5'>
                <option *ngFor="let lang of google_lang_list" value="{{lang[1]}}">{{lang[0]}}</option>
            </select>
            <div id='chat_box' class='p-3'>
                <span *ngFor="let translation of all_translations">{{translation[1]}} {{translation[0]}}<br></span>
                <span *ngFor="let export of all_exports">{{ export }}<br></span>
            </div>
            <button class='col bg-light text-dark border-thicc py-3' (click)="download_file()">download</button>
        </div>
    </div>  
    
</div>
