<div class='row p-0 m-0'>  
    <h4 id='leave' class='col col-sm-4 m-0 p-2'><i class="fas fa-globe-americas"></i> Session ID: {{ selected_session }}</h4>
    <button [routerLink]="['/dashboard', selected_session, 'video']" class='col'>video</button>
    <button [routerLink]="['/dashboard', selected_session, 'text']" class='col'>text</button>
    <button [routerLink]="['/dashboard', selected_session, 'draw']" class='col'>draw</button>
    <button [routerLink]="['/dashboard', selected_session, 'watch']" class='col'>watch</button>
    <button id='leave' (click)="leaveSite()" class='col col-sm-1'>Leave</button>
</div>
<div class='m-0 p-3'>
    <div class='row'>
        <div class='col'>
            <router-outlet></router-outlet>
        </div>
        <div class='col col-sm-4'>
            <div id='chat_box' class='p-3'><span *ngFor="let translation of all_translations">{{translation[1]}} {{translation[0]}}<br></span></div>
            <button class='col bg-light text-dark border-thicc py-3'>download</button>
        </div>
    </div>  
    
</div>
