#chat_box {
    background: black;
    height: 65vh;
    border: 2px solid black;
    overflow-y: auto;
    white-space: wrap;
}
button{
    color:  #f8f9fa
}

.border-thicc{
    border: 2px solid black;
    border-bottom: none;
}
#left{
    border-bottom: 2px solid black;
    border-top: none;
}
#right{
    border: 2px solid black;
    border-left: none;
    border-top: none;
}