<form (submit) = 'yt_search()' id="input_form" class='col m-0 p-0'>
  <div class='row m-0'>
    <input type="text" name='id' [(ngModel)]='id' placeholder="Search YouTube" autocomplete="off" class='col border-thicc m-0 py-0 px-3' style='border-right: none'>
    <button class='col col-sm-4 py-3 m-0 border-thicc' (click) = 'refresh()' [routerLink] = "['ytv', id]">search</button>
  </div>
</form>
<div id="chat_box" class='text-center'>
  <div id='ytb' class='pt-1'>
    <youtube-player
    [videoId]="id" 
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)">
    </youtube-player>
  </div>
  <div class='row mx-0 mt-3 p-0'>
    <label for="lang_spoken" class='col-sm-3'>Language Spoken: </label>
    <div class='col-sm-3'>
      <select name="lang_spoken" [(ngModel)]="lang_setting.lang_spoken" class='col'>
        <option *ngFor="let lang of lang_list" value="{{lang[1]}}">{{lang[0]}}</option>
      </select>
    </div>
    <label for="lang_to" class='col-sm-3'>Translate to: </label>
    <div class='col-sm-3'>
      <select name="lang_to" [(ngModel)]="lang_setting.lang_to" class='col'>
        <option *ngFor="let lang of google_lang_list" value="{{lang[1]}}">{{lang[0]}}</option>
      </select>
    </div>
  </div>
</div>
<button (click)="startRecording()" id='left' class='col col-sm-6 py-3 m-0 border-thicc'>Start</button>
<button (click)="stopRecording()" id='right' class='col col-sm-6 py-3 m-0 border-thicc'>Stop</button>