<!--The content below is only a placeholder and can be replaced.-->
<div id='blue'>
    <div class='row'>
      <div id='white' class='col'>
        <div class='col-sm-11 p-5'>
          <h1 id='hello' class='d-inline align-middle'>hello </h1> <h1 id='world' class='d-inline align-middle'>W<i class="fas fa-globe-americas"></i>RLD</h1>
          <p id='subtitle'>Translate Your Life <i class="fas fa-comments"></i></p>
        </div>
      </div>
      <div class='col px-5 pb-5 text-center'>
        <div id='corner' class='col-sm-8 mb-5 mx-auto p-5 bg-light'>
          <h4><i class="fas fa-globe-americas"></i> Start a new session: </h4>
          <form class='mb-3'>
            <input type=text name='name' placeholder='Enter Your Name' class='col-sm-10 mx-2 mb-2 p-2 border border-dark text-center round'>
            <div class='col-sm-10 mx-auto text-right'><button class='btn text-light round'>start</button></div>
          </form>
          <h4><i class="fas fa-globe-americas"></i> Join existing session: </h4>
          <form>
            <input type=text name='session_id' placeholder='Enter Session ID' class='col-sm-10 mx-2 mb-2 p-2 border border-dark text-center round'>
            <div class='col-sm-10 mx-auto text-right'><button class='btn text-light round'>join</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>