<div id='blue' class='position-fixed p-0 m-0'>
  <div id='white' class='col p-0 position-fixed'></div>
  <div class='col px-5 pt-5 pb-0 text-center'>
    <h1 id='hello' class='m-0'>hello </h1> 
    <h1 id='world' class='d-inline align-middle'>W<i class="fas fa-globe-americas"></i>RLD</h1>
    <p id='subtitle'>Your Life, Translated <i class="fas fa-comments"></i></p>
  </div>
  <div class='col pt-3 text-center'>
    <button id='top' class='btn' (click)="showCreatePrompt()">start session</button><br>
    <button id='bottom' class='btn text-light' (click)="showJoinPrompt()">join session</button>
  </div>
</div>
